<div class="row">
    <div class="col-md-12">

        <h2 align="center">Seja Bem-Vindo Administrador</h2>
        <br /><br /><br />
        <div class="col-md-6" align="center">

            <h4>Cliente</h4>

            <a role="button" class="btn btn-primary" href="/Admin/CadastrarCliente/">
                Cadastrar
            </a>
            <a role="button" class="btn btn-primary" href="/Admin/ListarCliente/">
                Listar
            </a>
        </div>

        <div class="col-md-6" align="center">
            <h4>Filme</h4>

            <a role="button" class="btn btn-primary" href="/Admin/CadastrarFilme/">
                Cadastrar
            </a>
            <a role="button" class="btn btn-primary" href="/Admin/ListarFilme/">
                Listar
            </a>
        </div>
    </div>
</div>
