<div class="row">
    <div class="col-md-12" align="center">

        <h2>Filme Devolvido com Sucesso!</h2>
        <br /><br /><br />

        <a href="/Admin/ListarFilmesCliente/@ViewBag.ID_Cliente"><h4>Voltar</h4></a>
    </div>
</div>
