<div class="row">
    <div class="col-md-12" align="center">

        <h2>Filme Editado com Sucesso!</h2>
        <br /><br /><br />

        <a href="/Admin/ListarFilme/"><h4>Voltar</h4></a>
    </div>
</div>
