@model IEnumerable<Locadora_Soares.Models.Filme>

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="stat-widget-two">
                <h2 align="center">Filmes Cadastrados</h2>
                <br /><br /><br />
                <table class="table" align="center">
                    <thead>
                        <tr>
                            <th>
                                Título
                            </th>
                            <th>
                                Ano
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th colspan="2">
                                Ações
                            </th>
                            <th>
                                Alugado?
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td colspan="6" align="center">
                                    Não existem filmes cadastrados
                                </td>
                            </tr>

                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ano)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categoria)
                                    </td>
                                    <td>
                                        <a role="button" class="btn btn-outline-info" href="/Admin/EditarFilme/@Html.DisplayFor(modelItem => item.ID)">
                                            Editar
                                        </a>
                                    </td>

                                    @{
                                        if (item.Disponivel == 1)
                                        {
                                            <td>
                                                <a role="button" class="btn btn-outline-danger" href="/Admin/ExcluirFilme/@Html.DisplayFor(modelItem => item.ID)">
                                                    Excluir
                                                </a>
                                            </td>



                                            <td>
                                                Não
                                            </td>
                                        }
                                        else if (item.Disponivel == 2)

                                        {
                                            <td>
                                                <a role="button" class="btn btn-outline-danger" href="/Admin/ExcluirFilme/@Html.DisplayFor(modelItem => item.ID)">
                                                    Excluir
                                                </a>

                                                <!-- Button trigger modal -->
                                                @*<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal">
            Excluir
        </button>*@

                                            </td>

                                            <td>
                                                Sim
                                            </td>
                                        }

                                    }

                                </tr>
                            }

                        }
                    </tbody>
                </table>




                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">AVISO!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                É necessário primeiro devolver o filme antes de excluir o mesmo
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').trigger('focus')
                    })
                </script>


                <br /><br /><br />
                <div align="center">
                    <a role="button" class="btn btn-primary" href="/Admin/AdminMain/">
                        Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>