@model IEnumerable<Locadora_Soares.Models.Filme>

<div class="row">
    <div class="col-md-12">
        <h2 align="center">Filmes Cadastrados</h2>
        <br /><br /><br />
        <table class="table" align="center">
            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Ano
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th colspan="2">
                        Ações
                    </th>
                    <th>
                        Alugado?
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="6" align="center">
                            Não existem filmes cadastrados
                        </td>
                    </tr>

                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ano)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria)
                            </td>
                            <td>
                                <a role="button" class="btn btn-primary" href="/Admin/EditarFilme/@Html.DisplayFor(modelItem => item.ID)">
                                    Editar
                                </a>
                            </td>
                            <td>
                                <a role="button" class="btn btn-primary" href="/Admin/ExcluirFilme/@Html.DisplayFor(modelItem => item.ID)">
                                    Excluir
                                </a>
                            </td>


                            @{
                                if (item.ID_Cliente != null)
                                {
                                    <td>
                                        Sim
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Não
                                    </td>
                                }

                            }

                        </tr>
                    }

                }
                </tbody>
        </table>


        <div align="center">
            <a role="button" class="btn btn-primary" href="/Admin/AdminMain/">
                Voltar
            </a>
        </div>
    </div>
</div>
