<div class="row">
    <div class="col-md-12" align="center">

        <h2>Perfil editado com Sucesso!</h2>
        <br /><br /><br />

        <a href="/Cliente/Index/"><h4>Voltar</h4></a>
    </div>
</div>
